$primary_colour: #2B6F7C;
$primary_contrast_colour: #D7E0DA;

$secondary_colour: #134953;

$tertiary_colour: #3F4445;

$background_colour: #f5f1e7;

$text_colour: #3F4445;
$text_alt_colour: #fff;

$success_colour: #1C7554;
$error_colour: #751C3D;

$border-radius: 7px;
